
#header {
  background-color:  #333333;
  text-align: left;
}
#first-name {
  color: #FFFFFF;
  padding-top: 10px;
}
#last-name {
  color: #2F88CC;
}

#contact-info ul li {
  color: #999999;
  list-style-type: none;
  margin-left: 20px;
  text-align: right;
  display: block;
}
#contact-info ul li img {
  height: 40px;
  width: 40px;
}
#contact-info ul {
  padding-top: 25px;
  text-align: right;
}
#description{
  font-size: 18px;
}
.blue {
  color: #2F88CC;
}
.white {
  color: #999999;
}
