
#footer {
  background-color:  #333333;
  border-top: 10px solid #2F88CC;
}


#contact-info2 ul li {
  color: #999999;
  list-style-type: none;
  text-align: left;
  display: block;
  text-align: center;
}
#contact-info2 ul li img {
  height: 40px;
  width: 45px;
}
#contact-info2 ul {
  padding-top: 25px;
  padding-left: 0px;
  text-align: center;
}
